$font-stack-1: 'Avenir';

// Light
@font-face {
  font-family: $font-stack;
  src: url(../../assets/fonts/Avenir-Roman.woff2) format("woff2"),
    url(../../assets/fonts/Avenir-Roman.woff) format("woff"),
    url(../../assets/fonts/Avenir-Roman.ttf) format("truetype");
  font-weight: 300;
}

// Normal
@font-face {
  font-family: $font-stack;
  src: url(../../assets/fonts/Avenir-Medium.woff2) format("woff2"),
    url(../../assets/fonts/Avenir-Medium.woff) format("woff"),
    url(../../assets/fonts/Avenir-Medium.ttf) format("truetype");
  font-weight: 400;
}

// Heavy
@font-face {
  font-family: $font-stack;
  src: url(../../assets/fonts/Avenir-Heavy.woff2) format("woff2"),
    url(../../assets/fonts/Avenir-Heavy.woff) format("woff"),
    url(../../assets/fonts/Avenir-Heavy.ttf) format("truetype");
  font-weight: 700;
}